.app-aboutus {
  position: relative;
}

.app-aboutus-overlay {
  position: absolute;
  inset: 0;
}

.app-aboutus-overlay img {
  width: 391px;
  height: 415px;
  z-index: 0;
}

.app-aboutus-content {
  width: 100%;
  z-index: 2;
}

.app-aboutus-content-about {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
}

.app-aboutus-content-cocktail {
  margin: 2rem 4rem;
}

.app-aboutus-content-cocktail img {
  height: 910px;
}

.app-aboutus-content-history {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}

.app-aboutus-content-history p,
.app-aboutus-content-about p {
  margin: 2rem 0;
  color: var(--color-grey);
}

@media (min-width: 2000px) {
  .app-aboutus-content-cocktail img {
    height: 1110px;
  }
  .app-aboutus-content-history p,
  .app-aboutus-content-about p {
    margin: 4rem 0;
  }
}
@media (max-width: 900px) {
  .app-aboutus-content {
    flex-direction: column;
  }

  .app-aboutus-content-cocktail {
    margin: 4rem 0;
  }
}
@media (max-width: 650px) {
  .app-aboutus-overlay img {
    width: 80%;
    height: 320px;
  }
  .app-aboutus-content-cocktail img {
    width: 100%;
    height: auto;
  }
}
